<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ActiveRecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <ActiveRecord isweb="false">
    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"></add>
      <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"></add>
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"></add>
      <add key="connection.connection_string" value="ConnectionString = ${ConnectionString}"></add>
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
    </config>
  </ActiveRecord>
  <log4net>
    <appender name="Sql" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs/sql.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="dd/MM/yyyy"/>
      <param name="maximumFileSize" value="300KB"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d - %u - %property{Hostname} - %m%n"/>
      </layout>
    </appender>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="Sql"/>
      <appender-ref ref="Banco"/>
    </logger>
  </log4net>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=webtec\SQLEXPRESS;Initial Catalog=GestureHealthCare;User Id=sa; Password=webtec"/>-->
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GestureHealthCare;Integrated Security=true"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
