USE [GestureHealthCare]
GO
/****** Object:  Table [dbo].[Procedimento]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedimento](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Procedimento] ON
INSERT [dbo].[Procedimento] ([Codigo], [Descricao]) VALUES (1, N'Procedimento 3')
INSERT [dbo].[Procedimento] ([Codigo], [Descricao]) VALUES (2, N'Procedimento 2')
INSERT [dbo].[Procedimento] ([Codigo], [Descricao]) VALUES (3, N'Procedimento 2')
SET IDENTITY_INSERT [dbo].[Procedimento] OFF
/****** Object:  Table [dbo].[Medico]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NULL,
	[Conselho] [nvarchar](10) NULL,
	[CondigoConselho] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Medico] ON
INSERT [dbo].[Medico] ([Codigo], [Nome], [Conselho], [CondigoConselho]) VALUES (1, N'Médico 3', N'CRM', N'22')
INSERT [dbo].[Medico] ([Codigo], [Nome], [Conselho], [CondigoConselho]) VALUES (2, N'Médico 2', N'CRM', N'491')
INSERT [dbo].[Medico] ([Codigo], [Nome], [Conselho], [CondigoConselho]) VALUES (3, N'Médico 2', N'CRM', N'51930')
SET IDENTITY_INSERT [dbo].[Medico] OFF
/****** Object:  Table [dbo].[Sala]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sala] ON
INSERT [dbo].[Sala] ([Codigo], [Descricao]) VALUES (1, N'Sala 3')
INSERT [dbo].[Sala] ([Codigo], [Descricao]) VALUES (2, N'Sala 2')
INSERT [dbo].[Sala] ([Codigo], [Descricao]) VALUES (3, N'Sala 2')
SET IDENTITY_INSERT [dbo].[Sala] OFF
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diagnostico] ON
INSERT [dbo].[Diagnostico] ([Codigo], [Descricao]) VALUES (1, N'Diagnóstico 3')
INSERT [dbo].[Diagnostico] ([Codigo], [Descricao]) VALUES (2, N'Diagnóstico 2')
INSERT [dbo].[Diagnostico] ([Codigo], [Descricao]) VALUES (3, N'Diagnóstico 2')
SET IDENTITY_INSERT [dbo].[Diagnostico] OFF
/****** Object:  Table [dbo].[Exame]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exame](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exame] ON
INSERT [dbo].[Exame] ([Codigo], [Descricao]) VALUES (1, N'Exame 3')
INSERT [dbo].[Exame] ([Codigo], [Descricao]) VALUES (2, N'Exame 2')
INSERT [dbo].[Exame] ([Codigo], [Descricao]) VALUES (3, N'Exame 2')
SET IDENTITY_INSERT [dbo].[Exame] OFF
/****** Object:  Table [dbo].[Paciente]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paciente](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NULL,
	[Sexo] [nvarchar](1) NULL,
	[Foto] [varbinary](8000) NULL,
	[DataNascimento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON
INSERT [dbo].[Paciente] ([Codigo], [Nome], [Sexo], [Foto], [DataNascimento]) VALUES (1, N'Paciente 3', N'F', NULL, CAST(0x00003630014655C0 AS DateTime))
INSERT [dbo].[Paciente] ([Codigo], [Nome], [Sexo], [Foto], [DataNascimento]) VALUES (2, N'Paciente 2', N'F', NULL, CAST(0x00002D8C0158DAA8 AS DateTime))
INSERT [dbo].[Paciente] ([Codigo], [Nome], [Sexo], [Foto], [DataNascimento]) VALUES (3, N'Paciente 2', N'F', NULL, CAST(0x00002A1D0051376D AS DateTime))
SET IDENTITY_INSERT [dbo].[Paciente] OFF
/****** Object:  Table [dbo].[Atendimento]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atendimento](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NULL,
	[Tipo] [nvarchar](1) NULL,
	[Paciente] [int] NULL,
	[Diagnostico] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Atendimento] ON
INSERT [dbo].[Atendimento] ([Codigo], [Data], [Tipo], [Paciente], [Diagnostico]) VALUES (1, CAST(0x000081B4018A361B AS DateTime), N'A', 1, 1)
INSERT [dbo].[Atendimento] ([Codigo], [Data], [Tipo], [Paciente], [Diagnostico]) VALUES (2, CAST(0x00007F3900B1B483 AS DateTime), N'A', 2, 2)
INSERT [dbo].[Atendimento] ([Codigo], [Data], [Tipo], [Paciente], [Diagnostico]) VALUES (3, CAST(0x00007E3C0114D29D AS DateTime), N'A', 3, 3)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Atendimento] OFF
/****** Object:  Table [dbo].[SolicitacaoProcedimento]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitacaoProcedimento](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NULL,
	[Medico] [int] NULL,
	[Atendimento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SolicitacaoProcedimento] ON
INSERT [dbo].[SolicitacaoProcedimento] ([Codigo], [Data], [Medico], [Atendimento]) VALUES (1, CAST(0x0000819600511AFC AS DateTime), 1, 1)
INSERT [dbo].[SolicitacaoProcedimento] ([Codigo], [Data], [Medico], [Atendimento]) VALUES (2, CAST(0x00007F1F00E0580A AS DateTime), 2, 2)
INSERT [dbo].[SolicitacaoProcedimento] ([Codigo], [Data], [Medico], [Atendimento]) VALUES (3, CAST(0x00007E240130AA92 AS DateTime), 3, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[SolicitacaoProcedimento] OFF
/****** Object:  Table [dbo].[SolicitacaoProcedimentoItem]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitacaoProcedimentoItem](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Procedimento] [int] NULL,
	[SolicitacaoProcedimento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SolicitacaoProcedimentoItem] ON
INSERT [dbo].[SolicitacaoProcedimentoItem] ([Codigo], [Procedimento], [SolicitacaoProcedimento]) VALUES (1, 1, 1)
INSERT [dbo].[SolicitacaoProcedimentoItem] ([Codigo], [Procedimento], [SolicitacaoProcedimento]) VALUES (2, 2, 2)
INSERT [dbo].[SolicitacaoProcedimentoItem] ([Codigo], [Procedimento], [SolicitacaoProcedimento]) VALUES (3, 3, 3)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[SolicitacaoProcedimentoItem] OFF
/****** Object:  Table [dbo].[Cirurgia]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cirurgia](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[DataAgendamento] [datetime] NULL,
	[Membro] [nvarchar](15) NULL,
	[Lado] [nvarchar](1) NULL,
	[DataInicio] [datetime] NULL,
	[DataFim] [datetime] NULL,
	[Atendimento] [int] NULL,
	[Sala] [int] NULL,
	[Medico] [int] NULL,
	[Procedimento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cirurgia] ON
INSERT [dbo].[Cirurgia] ([Codigo], [DataAgendamento], [Membro], [Lado], [DataInicio], [DataFim], [Atendimento], [Sala], [Medico], [Procedimento]) VALUES (1, CAST(0x0000A07801643278 AS DateTime), N'BRACO', N'D', NULL, NULL, 1, 1, 1, 1)
INSERT [dbo].[Cirurgia] ([Codigo], [DataAgendamento], [Membro], [Lado], [DataInicio], [DataFim], [Atendimento], [Sala], [Medico], [Procedimento]) VALUES (2, CAST(0x0000A06B010DF0C8 AS DateTime), N'PERNA', N'D', NULL, NULL, 2, 2, 2, 2)
INSERT [dbo].[Cirurgia] ([Codigo], [DataAgendamento], [Membro], [Lado], [DataInicio], [DataFim], [Atendimento], [Sala], [Medico], [Procedimento]) VALUES (3, CAST(0x0000A06600A86CB9 AS DateTime), N'PERNA', N'D', NULL, NULL, 3, 3, 3, 3)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Cirurgia] OFF
/****** Object:  Table [dbo].[SolicitacaoExame]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitacaoExame](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NULL,
	[Atendimento] [int] NULL,
	[Medico] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SolicitacaoExame] ON
INSERT [dbo].[SolicitacaoExame] ([Codigo], [Data], [Atendimento], [Medico]) VALUES (1, CAST(0x000081B40104628F AS DateTime), 1, 1)
INSERT [dbo].[SolicitacaoExame] ([Codigo], [Data], [Atendimento], [Medico]) VALUES (2, CAST(0x00007F390041377A AS DateTime), 2, 2)
INSERT [dbo].[SolicitacaoExame] ([Codigo], [Data], [Atendimento], [Medico]) VALUES (3, CAST(0x00007E3C00ACD1F4 AS DateTime), 3, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[SolicitacaoExame] OFF
/****** Object:  Table [dbo].[SolicitacaoExameItem]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitacaoExameItem](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[QuantidadeSolicitada] [int] NULL,
	[QuantidadeRealizada] [int] NULL,
	[SolicitacaoExame] [int] NULL,
	[Exame] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SolicitacaoExameItem] ON
INSERT [dbo].[SolicitacaoExameItem] ([Codigo], [QuantidadeSolicitada], [QuantidadeRealizada], [SolicitacaoExame], [Exame]) VALUES (1, 726643700, 726643700, 1, 1)
INSERT [dbo].[SolicitacaoExameItem] ([Codigo], [QuantidadeSolicitada], [QuantidadeRealizada], [SolicitacaoExame], [Exame]) VALUES (2, 610783965, 610783965, 2, 2)
INSERT [dbo].[SolicitacaoExameItem] ([Codigo], [QuantidadeSolicitada], [QuantidadeRealizada], [SolicitacaoExame], [Exame]) VALUES (3, 564707973, 564707973, 3, 3)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[SolicitacaoExameItem] OFF
/****** Object:  Table [dbo].[Laudo]    Script Date: 06/12/2013 08:55:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laudo](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Arquivo] [nvarchar](255) NULL,
	[SolicitacaoExameItem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Laudo] ON
INSERT [dbo].[Laudo] ([Codigo], [Arquivo], [SolicitacaoExameItem]) VALUES (7, N'assets/CPC_DICOM_3T_9.jpg', 1)
INSERT [dbo].[Laudo] ([Codigo], [Arquivo], [SolicitacaoExameItem]) VALUES (8, N'assets/Abdo-MRI.jpg', 1)
INSERT [dbo].[Laudo] ([Codigo], [Arquivo], [SolicitacaoExameItem]) VALUES (9, N'assets/dicom_cr_2012_02_13_0000000372_kopie.jpg', 1)
SET IDENTITY_INSERT [dbo].[Laudo] OFF
/****** Object:  ForeignKey [FK9361F3294C7D3844]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK9361F3294C7D3844] FOREIGN KEY([Diagnostico])
REFERENCES [dbo].[Diagnostico] ([Codigo])
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK9361F3294C7D3844]
GO
/****** Object:  ForeignKey [FK9361F3297B9EA384]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK9361F3297B9EA384] FOREIGN KEY([Paciente])
REFERENCES [dbo].[Paciente] ([Codigo])
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK9361F3297B9EA384]
GO
/****** Object:  ForeignKey [FK4BD7B8F2444612CA]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[Cirurgia]  WITH CHECK ADD  CONSTRAINT [FK4BD7B8F2444612CA] FOREIGN KEY([Sala])
REFERENCES [dbo].[Sala] ([Codigo])
GO
ALTER TABLE [dbo].[Cirurgia] CHECK CONSTRAINT [FK4BD7B8F2444612CA]
GO
/****** Object:  ForeignKey [FK4BD7B8F28DB1B275]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[Cirurgia]  WITH CHECK ADD  CONSTRAINT [FK4BD7B8F28DB1B275] FOREIGN KEY([Atendimento])
REFERENCES [dbo].[Atendimento] ([Codigo])
GO
ALTER TABLE [dbo].[Cirurgia] CHECK CONSTRAINT [FK4BD7B8F28DB1B275]
GO
/****** Object:  ForeignKey [FK4BD7B8F2A8D5D0F5]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[Cirurgia]  WITH CHECK ADD  CONSTRAINT [FK4BD7B8F2A8D5D0F5] FOREIGN KEY([Medico])
REFERENCES [dbo].[Medico] ([Codigo])
GO
ALTER TABLE [dbo].[Cirurgia] CHECK CONSTRAINT [FK4BD7B8F2A8D5D0F5]
GO
/****** Object:  ForeignKey [FK4BD7B8F2D45CE946]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[Cirurgia]  WITH CHECK ADD  CONSTRAINT [FK4BD7B8F2D45CE946] FOREIGN KEY([Procedimento])
REFERENCES [dbo].[Procedimento] ([Codigo])
GO
ALTER TABLE [dbo].[Cirurgia] CHECK CONSTRAINT [FK4BD7B8F2D45CE946]
GO
/****** Object:  ForeignKey [FK32BD35083813EFCE]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[Laudo]  WITH CHECK ADD  CONSTRAINT [FK32BD35083813EFCE] FOREIGN KEY([SolicitacaoExameItem])
REFERENCES [dbo].[SolicitacaoExameItem] ([Codigo])
GO
ALTER TABLE [dbo].[Laudo] CHECK CONSTRAINT [FK32BD35083813EFCE]
GO
/****** Object:  ForeignKey [FKCF0BB3788DB1B275]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[SolicitacaoExame]  WITH CHECK ADD  CONSTRAINT [FKCF0BB3788DB1B275] FOREIGN KEY([Atendimento])
REFERENCES [dbo].[Atendimento] ([Codigo])
GO
ALTER TABLE [dbo].[SolicitacaoExame] CHECK CONSTRAINT [FKCF0BB3788DB1B275]
GO
/****** Object:  ForeignKey [FKCF0BB378A8D5D0F5]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[SolicitacaoExame]  WITH CHECK ADD  CONSTRAINT [FKCF0BB378A8D5D0F5] FOREIGN KEY([Medico])
REFERENCES [dbo].[Medico] ([Codigo])
GO
ALTER TABLE [dbo].[SolicitacaoExame] CHECK CONSTRAINT [FKCF0BB378A8D5D0F5]
GO
/****** Object:  ForeignKey [FKEA604ED1D3387EC6]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[SolicitacaoExameItem]  WITH CHECK ADD  CONSTRAINT [FKEA604ED1D3387EC6] FOREIGN KEY([SolicitacaoExame])
REFERENCES [dbo].[SolicitacaoExame] ([Codigo])
GO
ALTER TABLE [dbo].[SolicitacaoExameItem] CHECK CONSTRAINT [FKEA604ED1D3387EC6]
GO
/****** Object:  ForeignKey [FKEA604ED1F68B7769]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[SolicitacaoExameItem]  WITH CHECK ADD  CONSTRAINT [FKEA604ED1F68B7769] FOREIGN KEY([Exame])
REFERENCES [dbo].[Exame] ([Codigo])
GO
ALTER TABLE [dbo].[SolicitacaoExameItem] CHECK CONSTRAINT [FKEA604ED1F68B7769]
GO
/****** Object:  ForeignKey [FKC19FE66B8DB1B275]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[SolicitacaoProcedimento]  WITH CHECK ADD  CONSTRAINT [FKC19FE66B8DB1B275] FOREIGN KEY([Atendimento])
REFERENCES [dbo].[Atendimento] ([Codigo])
GO
ALTER TABLE [dbo].[SolicitacaoProcedimento] CHECK CONSTRAINT [FKC19FE66B8DB1B275]
GO
/****** Object:  ForeignKey [FKC19FE66BA8D5D0F5]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[SolicitacaoProcedimento]  WITH CHECK ADD  CONSTRAINT [FKC19FE66BA8D5D0F5] FOREIGN KEY([Medico])
REFERENCES [dbo].[Medico] ([Codigo])
GO
ALTER TABLE [dbo].[SolicitacaoProcedimento] CHECK CONSTRAINT [FKC19FE66BA8D5D0F5]
GO
/****** Object:  ForeignKey [FKE6E620B329EF121B]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[SolicitacaoProcedimentoItem]  WITH CHECK ADD  CONSTRAINT [FKE6E620B329EF121B] FOREIGN KEY([SolicitacaoProcedimento])
REFERENCES [dbo].[SolicitacaoProcedimento] ([Codigo])
GO
ALTER TABLE [dbo].[SolicitacaoProcedimentoItem] CHECK CONSTRAINT [FKE6E620B329EF121B]
GO
/****** Object:  ForeignKey [FKE6E620B3D45CE946]    Script Date: 06/12/2013 08:55:27 ******/
ALTER TABLE [dbo].[SolicitacaoProcedimentoItem]  WITH CHECK ADD  CONSTRAINT [FKE6E620B3D45CE946] FOREIGN KEY([Procedimento])
REFERENCES [dbo].[Procedimento] ([Codigo])
GO
ALTER TABLE [dbo].[SolicitacaoProcedimentoItem] CHECK CONSTRAINT [FKE6E620B3D45CE946]
GO
